* {
  color: rgb(9, 121, 65);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: lightgreen;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.75rem;
}

small {
  font-size: 0.5rem;
}

.bg-container {
  background-color: white;
}

.custom-button {
  border: none;
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem 0;
}
.custom-button:hover {
  background-color: rgb(255, 98, 0);
}

header {
  display: flex;
  margin: auto;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: darkred;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
  color: aliceblue;
}
header nav a {
  margin: auto 0.5rem;
}

main {
  margin: auto;
  background-color: beige;
  padding: 1rem 2rem;
}
main .main-text {
  text-align: center;
}
main .main-container {
  display: flex;
  margin: auto;
  padding: 0.25rem 0;
  margin: 1rem 1rem 3rem;
  box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.4);
  max-width: 98%;
}
main .main-container .image-container {
  display: flex;
  align-items: center;
  width: 40%;
  margin: 1rem;
}
main .main-container .image-container img {
  box-shadow: 5px 5px 20px grey;
  width: 100%;
  min-width: 100px;
  height: auto;
  border-radius: 1rem 0rem;
}
main .main-container .text-container {
  width: 60%;
  margin: 1rem;
}
main .main-container .text-container h2 span {
  color: red;
  text-shadow: 5px 5px white;
  font-size: 5rem;
}
main .main-container .text-container p {
  color: white;
}
main .main-container .text-container p span {
  font-style: oblique;
  color: red;
  text-shadow: 1px 1px white;
}
main .hero {
  background: linear-gradient(351deg, rgb(9, 121, 65) 44%, rgb(10, 92, 108) 45%);
}
main .hero h2 {
  color: rgb(0, 212, 255);
}
main .about {
  background: linear-gradient(170deg, rgb(9, 121, 65) 44%, rgb(10, 92, 108) 45%);
}
main .about h2,
main .about p {
  color: white;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
main .foods-selection {
  margin: 1rem auto 3rem;
  padding-bottom: 2rem;
  flex-direction: column;
}
main .foods-selection .food-selector-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 2rem 0;
  width: 80vw;
  overflow: auto;
  position: relative;
}
main .foods-selection .food-selector-container h2 {
  position: sticky;
  left: 0;
}
main .foods-selection .food-selector-container .food-flow-container {
  display: flex;
}
main .foods-selection .food-selector-container .food-flow-container .foods-item {
  width: 180px;
  height: 240px;
  text-align: center;
  padding: 0.5rem;
  margin: 0 1rem;
  box-shadow: 5px 5px grey, 10px 10px 20px rgba(255, 98, 0, 0.4);
  z-index: 1;
}
main .foods-selection .food-selector-container .food-flow-container .foods-item:hover {
  background-color: grey;
  transition: 0.4s;
}
main .foods-selection .food-selector-container .food-flow-container .foods-item .food-img-container {
  background-color: blue;
  padding: 0.25rem;
}
main .foods-selection .food-selector-container .food-flow-container .foods-item .food-img-container .food-img {
  width: 96%;
  height: auto;
}
main .foods-selection .food-selector-container .food-flow-container .foods-item .food-text {
  background-color: green;
}
main .foods-selection .food-selector-container .food-flow-container .foods-item .food-text small {
  color: white;
}
main .foods-selection button {
  align-self: flex-end;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 1rem 0;
  border: inset 2px darkred;
  font-size: 2rem;
}

footer {
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: darkred;
}
footer .links-container {
  display: block;
  justify-content: space-between;
}
footer .links-container .footer-links {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border-left: 2px solid grey;
}
footer .links-container .footer-links small {
  color: lightgreen;
}
footer .links-container .footer-links ul {
  margin: 0;
  padding-inline-start: 10px;
  list-style: none;
}
footer .links-container .footer-links ul small {
  color: lightgreen;
}
footer .links-container .newsletter input {
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 0.25rem;
  color: lightgreen;
}
footer .links-container .newsletter button {
  border: none;
  background-color: rgb(9, 121, 65);
  padding: 0.5rem;
  border-radius: 0.25rem 0;
  color: white;
}
footer span {
  font-size: 1rem;
  align-self: center;
  color: lightgreen;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0 0 1rem 0;
  box-sizing: border-box;
}

@media screen and (min-width: 584px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  small {
    font-size: 1rem;
  }
  footer .links-container {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */