* {
  color: rgba(9, 121, 65, 1);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: lightgreen;
}

h1 {
  font: {
    size: 2rem;
  }
}

h2 {
  font: {
    size: 1.5rem;
  }
}

p {
  font: {
    size: 0.75rem;
  }
}
small {
  font: {
    size: 0.5rem;
  }
}

.bg-container {
  background-color: white;
}

.custom-button {
  border: none;
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem 0;

  &:hover {
    background-color: rgb(255, 98, 0);
  }
}

header {
  display: flex;
  margin: auto;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: darkred;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo {
    display: flex;
    align-items: center;
    height: 2rem;
    color: aliceblue;
  }

  nav {
    a {
      margin: auto 0.5rem;
    }
  }
}

main {
  margin: auto;
  background-color: beige;
  padding: 1rem 2rem;
  .main-text {
    text-align: center;
  }
  .main-container {
    display: flex;
    margin: auto;
    padding: 0.25rem 0;
    margin: 1rem 1rem 3rem;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.4);
    max-width: 98%;
    .image-container {
      display: flex;
      align-items: center;
      width: 40%;
      margin: 1rem;
      img {
        box-shadow: 5px 5px 20px grey;
        width: 100%;
        min-width: 100px;
        height: auto;
        border-radius: 1rem 0rem;
      }
    }

    .text-container {
      width: 60%;
      margin: 1rem;

      h2 {
        span {
          color: red;
          text-shadow: 5px 5px white;
          font: {
            size: 5rem;
          }
        }
      }
      p {
        color: white;
        span {
          font-style: oblique;
          color: red;
          text-shadow: 1px 1px white;
        }
      }
    }
  }

  .hero {
    background: linear-gradient(
      351deg,
      rgba(9, 121, 65, 1) 44%,
      rgba(10, 92, 108, 1) 45%
    );
    h2 {
      color: rgba(0, 212, 255, 1);
    }
  }
  .about {
    background: linear-gradient(
      170deg,
      rgba(9, 121, 65, 1) 44%,
      rgba(10, 92, 108, 1) 45%
    );

    h2,
    p {
      color: white;
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
  }

  .foods-selection {
    margin: 1rem auto 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    .food-selector-container {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: 2rem 0;
      width: 80vw;
      overflow: auto;
      position: relative;
      h2 {
        position: sticky;
        left: 0;
      }
      .food-flow-container {
        display: flex;
        .foods-item {
          width: 180px;
          height: 240px;
          text-align: center;
          padding: 0.5rem;
          margin: 0 1rem;
          box-shadow: 5px 5px grey, 10px 10px 20px rgb(255, 98, 0, 0.4);
          z-index: 1;

          &:hover {
            background-color: grey;
            transition: 0.4s;
          }

          .food-img-container {
            background-color: blue;
            padding: 0.25rem;
            .food-img {
              width: 96%;
              height: auto;
            }
          }

          .food-text {
            background-color: green;

            small {
              color: white;
            }
          }
        }
      }
    }

    button {
      align-self: flex-end;
      padding: 2rem;
      margin: 1rem auto;
      border-radius: 1rem 0;
      border: inset 2px darkred;
      font-size: 2rem;
    }
  }
}

footer {
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: darkred;
  .links-container {
    display: block;
    justify-content: space-between;
    .footer-links {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;
      border-left: 2px solid grey;
      small {
        color: lightgreen;
      }
      ul {
        small {
          color: lightgreen;
        }
        margin: 0;
        padding-inline-start: 10px;
        list-style: none;
      }
    }

    .newsletter {
      input {
        background: none;
        border: none;
        border-bottom: 2px solid grey;
        margin-bottom: 0.25rem;
        color: lightgreen;
      }

      button {
        border: none;
        background-color: rgba(9, 121, 65, 1);
        padding: 0.5rem;
        border-radius: 0.25rem 0;
        color: white;
      }
    }
  }

  span {
    font-size: 1rem;
    align-self: center;
    color: lightgreen;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0 0 1rem 0;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 584px) {
  h1 {
    font: {
      size: 4rem;
    }
  }

  h2 {
    font: {
      size: 3rem;
    }
  }

  p {
    font: {
      size: 2rem;
    }
  }
  small {
    font: {
      size: 1rem;
    }
  }

  footer {
    .links-container {
      display: flex;
    }
  }
}
